
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# =========================
# Backend (Spring Boot)
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# =========================
# Environment Variables
# =========================
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
application-dev.properties
application-prod.properties

# =========================
# IDE Files
# =========================
.idea/
*.iml
*.iws
*.ipr
*.sublime-project
*.sublime-workspace
*.vscode/